<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Ridge Swim &amp; Tennis Club</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/admin-main.css">
    <link href='styles/style.css' rel='stylesheet' type='text/css'>
    <link href='styles/responsive.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/animate.css">
    <!-- endbuild -->
  </head>
  <body ng-app="feedMeMoreApp" ng-controller="MainCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="nav-container">
      <header id="header">
        <a class="logo" ng-href="#/index" ng-click="toggleMenus('closeAll')"><img src="images/vrstc-logomark.png"></a>
        <nav class="top-nav">
          <div class="top-nav-section">
            <a class="top-nav-dropdown-button contact-nav" ng-href="#/contact" ng-click="toggleMenus('closeAll')">Contact</a>
          </div>
        </nav>
        <nav class="top-nav">
          <nav-menu/>
        </nav>
        <a class="mobile-nav-button" ng-click="mobileMenuFull = true"></a>
        <nav class="mobile-nav" ng-show="mobileMenuFull">
          <div class="mobile-nav-container">
            <a class="mobile-nav-close" ng-click="mobileMenuFull = false">x</a>
            <mobile-nav-menu/>            
          </div>
          <div class="mobile-nav-container">
            <div class="mobile-nav-section">
              <a class="mobile-nav-dropdown-button" ng-click="mobileMenuFull = false" href="#/contact">Contact</a>
            </div>
          </div>
        </nav>
      </header>
    </div> <!-- header container -->
    <div ng-view="" ng-click="toggleMenus('closeAll')"></div>
    <div class="container">
        <section class="main-footer">
          <div class="content-container">
            <div class="left-col">
              <img src="images/vrstc-logomark.png" class="footer-logo">
              <h4>Hours</h4>
              <p class="hero-text footer-hours">
                 Monday - Friday: 8am - 10pm <br>
                 Saturday &amp; Sunday: 6am - 11pm
              </p>
            </div>
            <div class="right-col footer-contact-container">
              <h4>Contact</h4>
              <div class="left-col footer-map">
                <iframe
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAf0H6qyWbirVMlZnSBsiEGEfc8B9ZlQ7A&q=5815+ne+77th+st+seattle+wa" allowfullscreen>
          </iframe>
              </div>
              <div class="right-col">
                <p class="hero-text phone-number">
                  (206) 524-3500
                </p>
                <p class="hero-text footer-contact">
                  View Ridge Swim &amp; Tennis Club<br>
                  5815 NE 77th St. <br>
                  PO Box 51079 <br>
                  Seattle, Washington 98115
                </p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </section>
        <section class="sub-footer">
          <div class="content-container">
            <div class="sub-footer-tagline">
              <p class="hero-text">
                View Ridge Swim &amp; Tennis Club - A Neighborhood Tradition Since 1958
              </p>
            </div>
            <div class="sub-footer-fb-cta">
              <p class="hero-text">
                Follow us on Facebook!
              </p>
              <a  href="http://www.facebook.com/vrswimteam" target="_blank"><img src="images/facebook-icon.png" class="fb-link"></a>
            </div>
          </div>
        </section>
    </div>

    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- custom js -->
    <script src="scripts/page.js"></script>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/getposts.js"></script>
        <!-- endbuild -->

</body>
</html>
