<section class="create-post-section">
  <div class="create-post-container">
    <h2>Create a New Post</h2>
    <form>
      <ul class="form-list">
        <li class="form-item">
          <label>Title:</label><input id="$new_post_title" type="text" name="postTitle" placeholder="What do you want to call your post?">
        </li>
        <li class="form-item">
          <label>Content:</label><textarea rows="14" id="$new_post_content" class="content-field" type="text" name="postContent" placeholder="What do you want to say?"></textarea>
        </li>
      </ul>
      <input class="submit-button animated" id="submit_button" type="submit" ng-click="createPost()">
    </form>
  </div>
  <div class="scroll-alert">
    Scroll for Post History
  </div>
</section>
<section class="post-history-section">
  <div class="post-history-container">
    <div class="old-post-container"  ng-repeat="post in posts">
      <div class="old-post" ng-click="shown = !shown">
        <h3 class="old-post-title">{{post.node.title}}</h3>
        <h4 class="old-post-date">{{post.node.createdAt | date:shortDate}}</h4>
      </div>
      <div class="old-post-content-container" ng-show="shown">
        <p class="old-post-content {{post.contentVis}}">
          {{post.node.content}}
        </p>
        <a class="multi-button">
          <span class="edit-button">Edit</span>
          <span class="delete-button" ng-click="deletePost(post.node.id)">Delete</span>
        </a>
      </div>


      <!-- <input class="submit-button" type="submit" ng-click="deletePost(post.node.id)"> -->
    </div>
  </div>
</section>
