<body>
  <div class="container">
    <section class="sub-page-splash generic-splash">
      <h1 class="sub-splash-title">Board of Directors</h1>
    </section>
    <section class="board-bios">
      <div class="content-container">
        <h2>View Ridge Board</h2>
        <span class="wave-icon"></span>
        <div class="hero-text board-description">
          We are a member-owned club, covered by our volunteer Board of Trustees.  The Board meets monthly throughout the year, and is made of nine members who serve three-year terms.  At the Club's annual meeting, held in March, members elect a slate of candidates, usually three per year, who can serve up to two three-year terms.
          <br><br>
          Questions, suggestions and comments from Members about the club and their club experience are always helpful for the Board, and are both welcome and encouraged. Please email us at <a class="email" href="mailto:suggestions@vrstc.org">suggestions@vrstc.org</a> at any time. Our Member Communications Board Chair will respond back to you as soon as possible.
        </div>
        <div class="bio-container">
          <h4>Atsuko Tamura</h4>
          <h5>President</h5>
        </div>
        <div class="bio-container">
          <h4>Annjette del Valle</h4>
          <h5>Vice President</h5>
        </div>
        <div class="bio-container">
          <h4>Lisa Hayward</h4>
          <h5>Seceratary</h5>
        </div>
        <div class="bio-container">
          <h4>Crary Symons</h4>
          <h5>Treasurer</h5>
        </div>
        <div class="bio-container">
          <h4>Kelly Arron</h4>
          <h5>Tennis</h5>
        </div>
        <div class="bio-container">
          <h4>David Marks</h4>
          <h5>At Large Member</h5>
        </div>
        <div class="bio-container">
          <h4>Deirdre Pew</h4>
          <h5>Membership</h5>
        </div>
        <div class="bio-container">
          <h4>Elise Spencer</h4>
          <h5>At Large Member</h5>
        </div>
      </div>
    </section>
    <section class="forms-records governance">
        <div class="gov-forms">
          <h3>Governance (PDF Downloads)</h3>
          <a href="{{siteDocuments.bylaws}}" target="_blank" class="button st-button">Bylaws</a><br>
          <a href="{{siteDocuments.articlesInc}}" target="_blank" class="button st-button">Articles of Incorporation</a><br>
        </div>
    </section>
  </div> <!-- container -->
</body>
