<div class="container">
  <section class="sub-page-splash generic-splash">
    <h1>Calendar</h1>
  </section>
  <section class="calendar-body">    
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=u52aajs8an14ii4uggsbafgc0s%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="600" height="600" frameborder="0" scrolling="no"></iframe>
  </section>
</div>
