<body>
  <div class="container">
    <section class="sub-page-splash generic-splash">
      <h1 class="sub-splash-title">Club History</h1>
    </section>
    <section class="club-history">
      <div class="content-container">
        <div class="history-content">
          <p class="hero-text">
            <span class="drop-cap">A</span>
            s with any long established organization, our Club has a rich beginning and history.  Established in 1958, View Ridge Swim & Tennis Club was founded by a group of charter members who wanted to create a gathering place for their neighbor friends and families to enjoy a summer activities in a community setting founded on shared values.
            <br><br>
            The club is a member-owned, guests-welcome facility. While families and staff have come and gone, and the neighborhood itself as evolved over many decades, the fundamental vision, purpose and values behind “the pool” are still at the center today. The original vision was to create and foster a place built on safety, responsibility, respect, and of course, fun so that members and their guests, could have a place to call their “special summer home away from home”.
            <br><br>
            With this original vision in mind, the pool’s mission statement is:  As a member-owned club, VRSTC exists to create a “little bit of urban paradise” for its members and guests. The club provides a sense of community by offering recreation, competition, relaxation, thoughtful service and high quality facilities operated in a financially stable manner for the long-term interest of our members.
            <br><br>
            Our Values: Safety, Responsibility, Respect, Fun.
            <br><br>
            We have been reaching out to charter members and their children, as well as current and former long-term members to capture their memories and stories of beloved club’s early beginnings through now.  We will be updating this section of the website as these stories are learned and documented, with the permission of these members.
            <br><br>
            To pique your interest, did you know that the baby pool was not a part of the original pool design when it was first opened?! Did you know that the clubhouse went through a significant facelift? Stay tuned – more to come!
            <br><br>
            In the meantime, if you happen to know fun and interesting factoids about our club please email <a class="email" ng-href="mailto:suggestions@vrstc.org">suggestions@vrstc.org</a>!
          </p>
        </div>
        <div class="img-container">
          <img src="images/vrstc-thumb.jpg" class="thumb">
          <p class="img-title">
            The View Ridge Swim &amp; Tennis <br> Club was founded in 1958.
          </p>
        </div>
      </div> <!-- content container -->
    </section>
  </div> <!-- container -->
</body>
