<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="container">
      <section class="splash-img">
        <div class="title-container">
          <h1 class="splash-title">View Ridge Swim &amp; Tennis Club</h1>
          <span class="wave-icon wave-icon-white"></span><h6 class="sub-title">A Little Bit of Urban Paradise</h6><span class="wave-icon wave-icon-white"></span>
        </div>
      </section>
      <div class="calendar-container ">

        <div class="calendar-plugin">
          <div class="fb-page" data-href="https://www.facebook.com/View-Ridge-Swim-and-Tennis-Club-481904695229985/" data-tabs="timeline" data-small-header="true" data-width="500" data-height="730" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/View-Ridge-Swim-and-Tennis-Club-481904695229985/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/View-Ridge-Swim-and-Tennis-Club-481904695229985/"></a></blockquote></div>
        </div>

      <div class="about">
        <h2 class="about-title">About the Club</h2>
        <span class="wave-icon"></span>
        <p class="hero-text">
          <span class="drop-cap">V</span>
          iew Ridge Swim &amp; Tennis Club was established in 1958 as a member-owned club where families could gather to enjoy swimming, friendships, and other activities. There are currently 480 member families.  As a seasonal club, we are open annually from the middle of May until early September. The club offers organized programs including a
          <a ng-href="#/swim-team">Swim Team</a>, <a ng-href="#/tennis-team">Tennis Team</a>, <a ng-href="#/waterpolo">Water Polo Team</a>, an <a ng-href="#/adult-swim">Adult Swim Team</a>, as well as <a ng-href="#/swim-lessons">Swim</a> and <a ng-href="#/tennis-lessons">Tennis</a> lessons (both group and private instruction) during the operating season.  Other activities include Early Morning Lap Swim, Open Swim, and up to three dedicated lap lanes available throughout the operating hours. In addition to recreational activities, the club offers several social activities throughout the summer for members’ children of all ages, families and parents/adult only festivities. </br> If you are interested in membership, you can find out information about the waiting list <a ng-href="#/membership">here</a>, or <a class='email' ng-href="mailto:vrstc@vrstc.org">email vrstc@vrstc.org</a> and your message will be forwarded to the appropriate source.
        </p>
      </div>
      </div>
      <section class="spacer">
        <!-- empty section with blue background to create space for calendar -->
      </section>
      <section class="club-happenings">
        <div class="ch-title-container">
          <h2 class="ch-title">Club Happenings</h2>
          <span class="wave-icon wave-icon-white"></span>
        </div>
        <div class="pc-button-container">
          <p class="pc-button-title">Read our Monthly <br> Newsletter: Pool Cues</p>
          <a class="pc-button" ng-href="#/pool-cues"></a>
        </div>
        <div class="ch-content">
          <div class="ch-post" ng-repeat="post in threePosts">
            <h3>{{post.node.title}}</h3>
            <span class="clock-icon"></span><span class="ch-date">{{post.node.createdAt | date:shortDate}}</span>
            <p class="hero-text ch-post-content">
              {{post.node.content}}
            </p>
          </div>
          <div class="arrow-containers">
            <a ng-click="showPreviousThree()" ng-show="hasPreviousPage" class="previous-button-container"><span class="white-arrow"></span></a>
            <a ng-click="showNextThree()" ng-show="hasNextPage" class="next-button-container"><span class="white-arrow white-arrow-forward"></span></a>
            <div class="clearfix">

            </div>
          </div>

        </div>
      </section>
      <section class="club-activities">
        <div class="ca-info">
          <div class="img-container">
            <img src="images/vrstc-thumb.jpg" class="thumb">
            <p class="img-title">
              View Ridge Swimming Pool is open from May through September
            </p>
          </div>

          <div class="ca-info-container"  >
            <h2 class='ca-title'>Club Activities</h2>
            <span class="wave-icon"></span>
            <p class="hero-text">
              <span class="drop-cap">T</span>
              he club offers a world class swimming pool, top-of-the-line tennis courts,
              and breathtaking views of the trees behind the water slide. In addition to team
              activities, the Club offers both group and private Swim Lessons and Tennis Lessons.
            </p>
          </div>
        </div>
        <div class="quick-links">
          <p>Quick Links:</p>
          <a ng-href="#/swim-team" class="button ql-button">Swim Team</a><br>
          <a ng-href="#/tennis-lessons" class="button ql-button">Tennis Lessons</a><br>
          <a ng-href="#/waterpolo" class="button ql-button">Water Polo</a><br>
        </div>
      </section>
    </div>
