<body>
    <div class="container">
      <section class="splash-img">
        <div class="title-container">
          <h1 class="splash-title">View Ridge Swim &amp; Tennis Club</h1>
          <span class="wave-icon wave-icon-white"></span><h6 class="sub-title">A Little Bit of Urban Paradise</h6><span class="wave-icon wave-icon-white"></span>
        </div>
      </section>
      <div class="calendar-container ">
        <div class="about">
          <h2 class="about-title">About the Club</h2>
          <span class="wave-icon"></span>
          <p class="hero-text">
            <span class="drop-cap">V</span>
            iew Ridge Swim &amp; Tennis Club was established in 1958 as a facility
            where families  could gather to enjoy swimming, friendships, and other
            activities. Presently there are 480 families. We are open from the middle
            of May until the middle of September. We have a varied schedule offering a
            <a ng-href="#/swim-team">Swim Team</a>, <a ng-href="#/tennis-team">Tennis Team</a>, <a ng-href="#/waterpolo">Water Polo Team</a>, and other activities such as Open Swim, Adult Lap Swimming,
            an <a ng-href="#/adult-swim">Adult Swim Team</a>, and many social activities.
          </p>
        </div>
        <div class="calendar-plugin">
          <!-- to contain wordpress calendar plugin, positioned absolutely above header image and page title -->
        </div>
      </div>
      <section class="spacer">
        <!-- empty section with blue background to create space for calendar -->
      </section>
      <section class="club-happenings">
        <div class="ch-title-container">
          <h2 class="ch-title">Club Happenings</h2>
          <span class="wave-icon wave-icon-white"></span>
        </div>
        <div class="pc-button-container">
          <p class="pc-button-title">Read our Monthly <br> Newsletter: Pool Cues</p>
          <a class="pc-button" ng-href="#/pool-cues"></a>
        </div>
        <div class="ch-content">
          <div class="ch-post" ng-repeat="post in threePosts">
            <h4>{{post.node.title}}</h4>
            <span class="clock-icon"></span><span class="ch-date">{{post.node.createdAt}}</span>
            <p class="hero-text ch-post-content">
              {{post.node.content}}
            </p>
          </div>
          <div class="arrow-containers">
            <a ng-click="showPreviousThree()" ng-show="hasPreviousPage" class="previous-button-container"><span class="white-arrow"></span></a>
            <a ng-click="showNextThree()" ng-show="hasNextPage" class="next-button-container"><span class="white-arrow white-arrow-forward"></span></a>
            <div class="clearfix">

            </div>
          </div>

        </div>
      </section>
      <section class="club-activities">
        <div class="ca-info">
          <div class="img-container">
            <img src="../4_assets/visual/vrstc-thumb.jpg" class="thumb">
            <p class="img-title">
              View Ridge Swimming Pool is open from May through September
            </p>
          </div>

          <div class="ca-info-container"  >
            <h2 class='ca-title'>Club Activities</h2>
            <span class="wave-icon"></span>
            <p class="hero-text">
              <span class="drop-cap">T</span>
              he club offers a world class swimming pool, top-of-the-line tennis courts,
              and breathtaking views of the trees behind the water slide. In addition to team
              activities, the Club offers both group and private Swim Lessons and Tennis Lessons.
            </p>
          </div>
        </div>
        <div class="quick-links">
          <p>Quick Links:</p>
          <a ng-href="#/swim-team" class="button ql-button">Swim Team</a><br>
          <a ng-href="#/tennis-lessons" class="button ql-button">Tennis Lessons</a><br>
          <a ng-href="#/waterpolo" class="button ql-button">Water Polo</a><br>
        </div>
      </section>
    </div>
