<body>
  <div class="container">
    <section class="sub-page-splash generic-splash">
      <h1 class="sub-splash-title">Membership</h1>
    </section>
    <section class="member-about">
      <div class="content-container">
        <div class="member-content">
          <h2>Membership Information</h2>
          <span class="wave-icon"></span>
          <ul class="bullet-list">
            <li class="bl-item"><span class="hero-text">View Ridge Swim &amp; Tennis Club is a member-owned club, limited by our by-laws to 480 family memberships. There are currently 480 active members.</span></li>
            <li class="bl-item"><span class="hero-text">To join the club, a member must live within the boundaries: North: N. 110th Street, South: Ship Canal, East: Lake Washington, West: 25th N.E.</span></li>
            <li class="bl-item"><span class="hero-text">The main operating hours of the club (the pool, clubhouse and grounds) begin in mid-May through early September. The tennis courts are accessible year-round but the courts are not regularly maintained after the main operating months.</span></li>
            <li class="bl-item"><span class="hero-text">To join, the initial membership joining fee is $5,000. All but $1,700 of this will be refunded with the sale of the membership.</span></li>
            <li class="bl-item"><span class="hero-text">Yearly membership fees are summarized as follows:</span></li>
            <li class="bl-item sub-item"><span class="hero-text">Annual dues are $800.</span></li>
            <li class="bl-item sub-item"><span class="hero-text">Annual capital improvement fee of $500. 50% of your capital improvement fee is refunded with the sale of your membership.</span></li>
            <li class="bl-item sub-item"><span class="hero-text">Additional fees are assessed based on each family’s usage of the club’s benefits (i.e. swim team, tennis team, lessons and clinics, events, etc.).</span></li>
            <li class="bl-item"><span class="hero-text">At the present time, there is a waiting list of around 1,000 families. The number of new members varies from year to year, so it is impossible to predict how long it might take to become a member. The club is always interested in bringing in new members - new members add to the vitality of the club. However, we are restricted by capacity, the club’s Bylaws, and Articles of Incorporation.</span></li>
            <li class="bl-item"><span class="hero-text">If you are interested in being placed on the waiting list, there is a one-time fee of $100.  Please complete the Membership <a href="{{siteDocuments.waitlistApplication}}" target="_blank">Waiting List Form</a> and mail your payment to the stated address. </span></li>
          </ul>
          <div class="view-all">
              <a href="{{siteDocuments.waitlist}}" target="_blank" class="button waitlist-button">Download Waitlist</a> <!-- downloads waitlist pdf -->
          </div>
        </div>
      </div> <!-- content container -->
    </section>
    <section class="fees">
      <div class="content-container">
        <h2>Fees</h2>
        <span class="wave-icon"></span>
        <div class="left-col">
          <table class="table fee-table member-fee">
            <th colspan="2">
              Membership
            </th>
            <tr>
              <td>Wait List</td>
              <td>$100/party</td>
            </tr>
            <tr>
              <td>Membership Equity (New)</td>
              <td>$4,050/membership</td>
            </tr>
            <tr>
              <td>Transfer Fee</td>
              <td>$2,000/transfer</td>
            </tr>
            <tr>
              <td>Operating Dues (Active)</td>
              <td>$850/season</td>
            </tr>
            <tr>
              <td>Operating Dues (Alumni)</td>
              <td>$283/season</td>
            </tr>
            <tr>
              <td>Operating Dues (Inactive)</td>
              <td>$283/season</td>
            </tr>
            <tr>
              <td>Capital Dues (Active - 50% equity)</td>
              <td>$500/season</td>
            </tr>
            <tr>
              <td>Capital Dues (Alumni - 50% equity)</td>
              <td>$167/season</td>
            </tr>
            <tr>
              <td>Capital Dues (Suspended &amp; Charter - 50% equity)</td>
              <td>$0/season</td>
            </tr>
            <tr>
              <td>Full Year Active Price</td>
              <td>$7,400/season</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Operational
            </th>
            <tr>
              <td>Work Party Duty</td>
              <td>$80/season</td>
            </tr>
            <tr>
              <td>Guest Pass (10 visits)</td>
              <td>$70/each</td>
            </tr>
            <tr>
              <td>Guest Pass (5 visits)</td>
              <td>$35/each</td>
            </tr>
            <tr>
              <td>Guest Party (5 visits)</td>
              <td>$7/guest</td>
            </tr>
            <tr>
              <td>Pool Rental (Preseason - 2hr min)</td>
              <td>$200/hour</td>
            </tr>
            <tr>
              <td>Late Payment Fee</td>
              <td>$50/billing</td>
            </tr>
            <tr>
              <td>NSF Check</td>
              <td>$50/instance</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Swim Team
            </th>
            <tr>
              <td>Swim Team</td>
              <td>$160/season</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Private Swim Lessons
            </th>
            <tr>
              <td>Member - 1 person - Level 1</td>
              <td>$45/half hour</td>
            </tr>
            <tr>
              <td>Non-Member - 1 person - Level 1</td>
              <td>$50/half hour</td>
            </tr>
            <tr>
              <td>Member - 1 person - Level 2</td>
              <td>$35/half hour</td>
            </tr>
            <tr>
              <td>Non-Member - 1 person - Level 2</td>
              <td>$40/half hour</td>
            </tr>
            <tr>
              <td>Member - 2 people - Level 1</td>
              <td>$35/half hour</td>
            </tr>
            <tr>
              <td>Non-Member - 2 people - Level 1</td>
              <td>$35/half hour</td>
            </tr>
            <tr>
              <td>Member - 2 people - Level 2</td>
              <td>$25/half hour</td>
            </tr>
            <tr>
              <td>Non-Member - 2 people - Level 2</td>
              <td>$30/half hour</td>
            </tr>
            <tr>
              <td>Member - 3 to 4 people - Level 1</td>
              <td>$25/half hour</td>
            </tr>
            <tr>
              <td>Non-Member - 3 to 4 people - Level 1</td>
              <td>$30/half hour</td>
            </tr>
            <tr>
              <td>Member - 3 to 4 people - Level 2</td>
              <td>$15/half hour</td>
            </tr>
            <tr>
              <td>Non-Member - 3 to 4 people - Level 1</td>
              <td>$20/half hour</td>
            </tr>
            <tr>
              <td>Member - >4 people - Level 1</td>
              <td>$15/half hour</td>
            </tr>
            <tr>
              <td>Non-Member - >4 people - Level 1</td>
              <td>$20/half hour</td>
            </tr>
            <tr>
              <td>Member - >4 people - Level 2</td>
              <td>$10/half hour</td>
            </tr>
            <tr>
              <td>Non-Member - >4 people - Level 2</td>
              <td>$15/half hour</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Session Swim Lessons
            </th>
            <tr>
              <td>Session I-IV - Member</td>
              <td>$60/session</td>
            </tr>
            <tr>
              <td>Session I-IV - Non-Member</td>
              <td>$85/session</td>
            </tr>
            <tr>
              <td>Session V - Member</td>
              <td>$45/session</td>
            </tr>
            <tr>
              <td>Session V - Non-Member</td>
              <td>$70/session</td>
            </tr>
            <tr>
              <td>Watershow</td>
              <td>$20/session</td>
            </tr>
          </table>
        </div>
        <div class="right-col">
          <table class="table fee-table">
            <th colspan="2">
              Tennis Team
            </th>
            <tr>
              <td>Tennis Team</td>
              <td>$125/season</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Private Tennis Lessons
            </th>
            <tr>
              <td>Member - 1 person</td>
              <td>$50/hour</td>
            </tr>
            <tr>
              <td>Non-Member - 1 person</td>
              <td>$60/hour</td>
            </tr>
            <tr>
              <td>Member - 2 people</td>
              <td>$30/hour</td>
            </tr>
            <tr>
              <td>Non-Member - 2 people</td>
              <td>$40/hour</td>
            </tr>
            <tr>
              <td>Member - 3 to 4 people</td>
              <td>$25/hour</td>
            </tr>
            <tr>
              <td>Non-Member - 3 to 4 people</td>
              <td>$35/hour</td>
            </tr>
            <tr>
              <td>Member - >4 people</td>
              <td>$15/hour</td>
            </tr>
            <tr>
              <td>Non-Member - >4 people</td>
              <td>$20/half hour</td>
            </tr>
            <tr>
              <td>High School Clinic</td>
              <td>$15/class</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Session Tennis Lessons
            </th>
            <tr>
              <td>Session I-IV - Member - Youth</td>
              <td>$60/session</td>
            </tr>
            <tr>
              <td>Session I-IV - Non-Member - Youth</td>
              <td>$85/session</td>
            </tr>
            <tr>
              <td>Session V - Member - Youth</td>
              <td>$45/session</td>
            </tr>
            <tr>
              <td>Session V - Non-Member - Youth</td>
              <td>$70/session</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Cardio Tennis
            </th>
            <tr>
              <td>Member</td>
              <td>$15/class</td>
            </tr>
            <tr>
              <td>Non-Member</td>
              <td>$20/class</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Adult Tennis Lessons
            </th>
            <tr>
              <td>Beginner</td>
              <td>$15/class</td>
            </tr>
            <tr>
              <td>Intermediate</td>
              <td>$20/class</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Waterpolo Team
            </th>
            <tr>
              <td>Pre-season</td>
              <td>$50/season</td>
            </tr>
            <tr>
              <td>Member</td>
              <td>$125/season</td>
            </tr>
            <tr>
              <td>Non-Member</td>
              <td>$160/season</td>
            </tr>
            <tr>
              <td>High School</td>
              <td>$50</td>
            </tr>
            <tr>
              <td>Adult</td>
              <td>$50</td>
            </tr>
            <tr>
              <td>Work Party</td>
              <td>$80</td>
            </tr>
            <tr>
              <td>Water Show</td>
              <td>$20</td>
            </tr>
            <tr>
              <td>Overnight</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>Pre-Season Pool Rental</td>
              <td>$200/hour (2 Hour Minimum)</td>
            </tr>
          </table>
          <table class="table fee-table">
            <th colspan="2">
              Special Events
            </th>
            <tr>
              <td>Pre-school Party</td>
              <td>$10/person</td>
            </tr>
            <tr>
              <td>Elementary School Party</td>
              <td>$10/season</td>
            </tr>
            <tr>
              <td>Middle School Party</td>
              <td>$20/person</td>
            </tr>
            <tr>
              <td>High School Party</td>
              <td>$20/person</td>
            </tr>
            <tr>
              <td>Overnight Party</td>
              <td>$30/person</td>
            </tr>
            <tr>
              <td>Adult Party</td>
              <td>$80/person</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
  </div>
</body>
