<body>
  <div class="container pool-cues-container">
    <div class="content-container">
      <section class="pool-cues">
        <div>
          <a href="/#/" class="back-button-container"><span class="back-button"></span><span class="back-button-text">Back</span></a>
        </div>
        <h2>Pool Cues</h2>
        <span class="wave-icon"></span>
        <ul class="bullet-list">
          <li class="bl-item"><span class="hero-text"><a target="_blank" href="http://res.cloudinary.com/drdgylwuu/image/upload/v1488938784/pool-cues/NewPoolMgr_Announcement.pdf">New Pool Manager Announcement</a></span></li>
          <li class="bl-item"><span class="hero-text"><a target="_blank" href="http://res.cloudinary.com/drdgylwuu/image/upload/v1488778938/pool-cues/2017_JanFebPoolCues_FIN.pdf">January 2017 Pool Cues Newsletter</a></span></li>
          <li class="bl-item"><span class="hero-text"><a target="_blank" href="http://res.cloudinary.com/drdgylwuu/image/upload/v1488938874/pool-cues/2017FebPoolCues2_FIN.pdf">February 2017 Pool Cues Newsletter</a></span></li>
        </ul>
      </section>

    </div>
  </div>
</body>
