<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>VRSTC Build</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='style/style.css' rel='stylesheet' type='text/css'>
  <link href='style/responsive.css' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
</head>

<body>
  <div class="container pool-cues-container">
    <div class="content-container">
      <section class="pool-cues">
        <div>
          <a href="index.html" class="back-button-container"><span class="back-button"></span><span class="back-button-text">Back</span></a>
        </div>
        <h2>Pool Cues</h2>
        <span class="wave-icon"></span>
        <ul class="bullet-list">
          <li class="bl-item"><span class="hero-text"><a href="">April 2016 Pool Cues Newsletter</a></span></li>
          <li class="bl-item"><span class="hero-text"><a href="">March 2016 Pool Cues Newsletter</a></span></li>
          <li class="bl-item"><span class="hero-text"><a href="">February 2016 Pool Cues Newsletter</a></span></li>
        </ul>
      </section>

    </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>
